.post-title {

}

.post-category {
  display: inline-block;
}

.post-categories {
  font-size: .7rem;
}

#post p {
  margin-bottom: .6rem;
}

#post h2, h3 {
  margin-top: 2rem;
}

#post ul {
  padding-left: 20px;
  margin-left: 0px;
  margin-bottom: .8rem;
}

.post-grid a {

}


.post-date {
  margin-top: 20px;
  font-size: .7rem;
}

.post li {

}
